%h3= @article.title
%p= @article.content
%p= "User: #{@article.user.email}"
%p= "Created at: #{ time_ago_in_words(@article.created_at) } ago"
- if can? :manage, @article
  %p= link_to 'Edit', edit_article_path(@article)
  %p= link_to 'Delete', article_path(@article), method: :delete
